<div class="dashboard">

    <div class="globals">
        <div class="global revenue">
            <div class="datas">
                <h3>Recettes</h3>
            </div>
            <div class="icon-bloc">
                <fa-icon [icon]="faEuroSign"></fa-icon>
            </div>
        </div>

        <div class="global orders">
            <div class="data">
                <h3>Commandes</h3>
            </div>
            <div class="icon-bloc">
                <fa-icon [icon]="faCartShopping"></fa-icon>
            </div>
        </div>

        <div class="global customers">
            <div class="data">
                <h3>Clients</h3>
            </div>
            <div class="icon-bloc">
                <fa-icon [icon]="faUserGroup"></fa-icon>
            </div>
        </div>

        <div class="global comments">
            <div class="data">
                <h3>Commentaires</h3>
            </div>
            <div class="icon-bloc">
                <fa-icon [icon]="faComment"></fa-icon>
            </div>
        </div>
    </div>
</div>
